<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<description>
		</description>
		<display-name>BookingServlet</display-name>
		<servlet-name>BookingServlet</servlet-name>
		<servlet-class>servlets.BookingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StoringServlet</display-name>
		<servlet-name>StoringServlet</servlet-name>
		<servlet-class>servlets.StoringServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StoringAirlineDetails</display-name>
		<servlet-name>StoringAirlineDetails</servlet-name>
		<servlet-class>servlets.StoringAirlineDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StoringPersonalDetails</display-name>
		<servlet-name>StoringPersonalDetails</servlet-name>
		<servlet-class>servlets.StoringPersonalDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FinalPaymentPortal</display-name>
		<servlet-name>FinalPaymentPortal</servlet-name>
		<servlet-class>servlets.FinalPaymentPortal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FinalPaymentPortalIntermediate</display-name>
		<servlet-name>FinalPaymentPortalIntermediate</servlet-name>
		<servlet-class>servlets.FinalPaymentPortalIntermediate</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>servlets.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminFunctions</display-name>
		<servlet-name>AdminFunctions</servlet-name>
		<servlet-class>servlets.AdminFunctions</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CorrectAdminLogin</display-name>
		<servlet-name>CorrectAdminLogin</servlet-name>
		<servlet-class>servlets.CorrectAdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrintBookedFlights</display-name>
		<servlet-name>PrintBookedFlights</servlet-name>
		<servlet-class>AdminServices.PrintBookedFlights</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrintPassengerDetails</display-name>
		<servlet-name>PrintPassengerDetails</servlet-name>
		<servlet-class>AdminServices.PrintPassengerDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PrintAirlineDetails</display-name>
		<servlet-name>PrintAirlineDetails</servlet-name>
		<servlet-class>AdminServices.PrintAirlineDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingServlet</servlet-name>
		<url-pattern>/BookingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoringServlet</servlet-name>
		<url-pattern>/StoringServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoringAirlineDetails</servlet-name>
		<url-pattern>/StoringAirlineDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StoringPersonalDetails</servlet-name>
		<url-pattern>/StoringPersonalDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalPaymentPortal</servlet-name>
		<url-pattern>/FinalPaymentPortal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalPaymentPortalIntermediate</servlet-name>
		<url-pattern>/FinalPaymentPortalIntermediate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminFunctions</servlet-name>
		<url-pattern>/AdminFunctions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CorrectAdminLogin</servlet-name>
		<url-pattern>/CorrectAdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintBookedFlights</servlet-name>
		<url-pattern>/PrintBookedFlights</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintPassengerDetails</servlet-name>
		<url-pattern>/PrintPassengerDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintAirlineDetails</servlet-name>
		<url-pattern>/PrintAirlineDetails</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
